.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: var(--card);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: var(--text);
  text-decoration: none;
  font-size: 26px;
}

/* Mobile */
.menuBtn {
  display: none;
  font-size: 26px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text);
}

@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    background: var(--card);
    position: absolute;
    right: 20px;
    top: 60px;
    padding: 20px;
    border-radius: 10px;
    gap: 15px;
  }

  .links.show {
    display: flex;
  }

  .menuBtn {
    display: block;
  }
}
